<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkdt.tml.mapper.DeviceUseRecordMapper" >
  <resultMap id="BaseResultMap" type="com.parkdt.tml.domain.DeviceUseRecord" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DeviceID" property="deviceid" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="UseProject" property="useproject" jdbcType="VARCHAR" />
    <result column="UseTime" property="usetime" jdbcType="VARCHAR" />
    <result column="BackTime" property="backtime" jdbcType="VARCHAR" />
    <result column="UseNote" property="usenote" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DeviceID, UserName, UseProject, UseTime, BackTime, UseNote
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deviceuserecord
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deviceuserecord
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.parkdt.tml.domain.DeviceUseRecord" >
    insert into deviceuserecord (ID, DeviceID, UserName, 
      UseProject, UseTime, BackTime, 
      UseNote)
    values (#{id,jdbcType=INTEGER}, #{deviceid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{useproject,jdbcType=VARCHAR}, #{usetime,jdbcType=VARCHAR}, #{backtime,jdbcType=VARCHAR}, 
      #{usenote,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.parkdt.tml.domain.DeviceUseRecord" >
    insert into deviceuserecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="deviceid != null" >
        DeviceID,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="useproject != null" >
        UseProject,
      </if>
      <if test="usetime != null" >
        UseTime,
      </if>
      <if test="backtime != null" >
        BackTime,
      </if>
      <if test="usenote != null" >
        UseNote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="useproject != null" >
        #{useproject,jdbcType=VARCHAR},
      </if>
      <if test="usetime != null" >
        #{usetime,jdbcType=VARCHAR},
      </if>
      <if test="backtime != null" >
        #{backtime,jdbcType=VARCHAR},
      </if>
      <if test="usenote != null" >
        #{usenote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.parkdt.tml.domain.DeviceUseRecord" >
    update deviceuserecord
    <set >
      <if test="deviceid != null" >
        DeviceID = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="useproject != null" >
        UseProject = #{useproject,jdbcType=VARCHAR},
      </if>
      <if test="usetime != null" >
        UseTime = #{usetime,jdbcType=VARCHAR},
      </if>
      <if test="backtime != null" >
        BackTime = #{backtime,jdbcType=VARCHAR},
      </if>
      <if test="usenote != null" >
        UseNote = #{usenote,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parkdt.tml.domain.DeviceUseRecord" >
    update deviceuserecord
    set DeviceID = #{deviceid,jdbcType=INTEGER},
      UserName = #{username,jdbcType=VARCHAR},
      UseProject = #{useproject,jdbcType=VARCHAR},
      UseTime = #{usetime,jdbcType=VARCHAR},
      BackTime = #{backtime,jdbcType=VARCHAR},
      UseNote = #{usenote,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>