<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkdt.tml.mapper.PersonalLoginInfoMapper" >
  <resultMap id="BaseResultMap" type="com.parkdt.tml.domain.PersonalLoginInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="wechat_id" property="wechatId" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="header" property="header" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="registration_time" property="registrationTime" jdbcType="TIMESTAMP" />
    <result column="is_disable" property="isDisable" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="certification_login_flag" property="certificationLoginFlag" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, wechat_id, email, phone, password, header, login_time, registration_time, 
    is_disable, nick_name, certification_login_flag
  </sql>
  <sql id="Base_Column_Query_List" >
    <if test="phone != null" >
      AND phone=#{phone}
    </if>
    <if test="password != null" >
      AND password=#{password}
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_personal_login_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_personal_login_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.parkdt.tml.domain.PersonalLoginInfo" keyProperty="id" useGeneratedKeys="true">
    insert into t_personal_login_info (id, role_id, wechat_id, 
      email, phone, password, 
      header, login_time, registration_time, 
      is_disable, nick_name, certification_login_flag
      )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=INTEGER}, #{wechatId,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{header,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{registrationTime,jdbcType=TIMESTAMP}, 
      #{isDisable,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{certificationLoginFlag,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.parkdt.tml.domain.PersonalLoginInfo" keyProperty="id" useGeneratedKeys="true">
    insert into t_personal_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="header != null" >
        header,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="registrationTime != null" >
        registration_time,
      </if>
      <if test="isDisable != null" >
        is_disable,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="certificationLoginFlag != null" >
        certification_login_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="header != null" >
        #{header,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registrationTime != null" >
        #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="certificationLoginFlag != null" >
        #{certificationLoginFlag,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.parkdt.tml.domain.PersonalLoginInfo" >
    update t_personal_login_info
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="header != null" >
        header = #{header,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registrationTime != null" >
        registration_time = #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisable != null" >
        is_disable = #{isDisable,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="certificationLoginFlag != null" >
        certification_login_flag = #{certificationLoginFlag,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parkdt.tml.domain.PersonalLoginInfo" >
    update t_personal_login_info
    set role_id = #{roleId,jdbcType=INTEGER},
      wechat_id = #{wechatId,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      header = #{header,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      registration_time = #{registrationTime,jdbcType=TIMESTAMP},
      is_disable = #{isDisable,jdbcType=BIGINT},
      nick_name = #{nickName,jdbcType=VARCHAR},
      certification_login_flag = #{certificationLoginFlag,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getPersonalLoginInfoByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_personal_login_info
    where is_disable = 0 and wechat_id = #{wechat_id,jdbcType=VARCHAR}
  </select>

  <select id="getPersonalLoginInfoByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_personal_login_info
    where is_disable = 0 and phone = #{phone,jdbcType=VARCHAR}
  </select>

  <select id="getCountByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM t_personal_login_info WHERE phone=#{phone}
  </select>
  
  <select id="queryByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * FROM t_personal_login_info WHERE 1=1
    <include refid="Base_Column_Query_List"/>
  </select>

  <update id="updateOpenIdByPhone" parameterType="com.parkdt.tml.domain.PersonalLoginInfo" >
    update t_personal_login_info
    set
    wechat_id = #{wechatId,jdbcType=VARCHAR}

    where is_disable = 0 and phone = #{phone,jdbcType=VARCHAR}
  </update>
</mapper>