<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkdt.tml.mapper.ProjectImporterInfoMapper" >
  <resultMap id="BaseResultMap" type="com.parkdt.tml.domain.ProjectImporterInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="authentication_type" property="authenticationType" jdbcType="SMALLINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="the_company" property="theCompany" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="SMALLINT" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
    <result column="is_project_editing" property="isProjectEditing" jdbcType="SMALLINT" />
    <result column="is_project_editing_and_editing" property="isProjectEditingAndEditing" jdbcType="SMALLINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_id, authentication_type, company_id, the_company, company_name, name, 
    id_card, gender, birthday, province_id, city_id, area_id, address, email, phone, 
    create_time, update_time, job_title, is_project_editing, is_project_editing_and_editing, 
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_project_importer_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_project_importer_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.parkdt.tml.domain.ProjectImporterInfo" >
    insert into t_project_importer_info (id, member_id, authentication_type, 
      company_id, the_company, company_name, 
      name, id_card, gender, 
      birthday, province_id, city_id, 
      area_id, address, email, 
      phone, create_time, update_time, 
      job_title, is_project_editing, is_project_editing_and_editing, 
      description)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{authenticationType,jdbcType=SMALLINT}, 
      #{companyId,jdbcType=BIGINT}, #{theCompany,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{gender,jdbcType=SMALLINT}, 
      #{birthday,jdbcType=TIMESTAMP}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{areaId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{jobTitle,jdbcType=VARCHAR}, #{isProjectEditing,jdbcType=SMALLINT}, #{isProjectEditingAndEditing,jdbcType=SMALLINT}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.parkdt.tml.domain.ProjectImporterInfo" >
    insert into t_project_importer_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="authenticationType != null" >
        authentication_type,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="theCompany != null" >
        the_company,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="jobTitle != null" >
        job_title,
      </if>
      <if test="isProjectEditing != null" >
        is_project_editing,
      </if>
      <if test="isProjectEditingAndEditing != null" >
        is_project_editing_and_editing,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="authenticationType != null" >
        #{authenticationType,jdbcType=SMALLINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="theCompany != null" >
        #{theCompany,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTitle != null" >
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="isProjectEditing != null" >
        #{isProjectEditing,jdbcType=SMALLINT},
      </if>
      <if test="isProjectEditingAndEditing != null" >
        #{isProjectEditingAndEditing,jdbcType=SMALLINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.parkdt.tml.domain.ProjectImporterInfo" >
    update t_project_importer_info
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="authenticationType != null" >
        authentication_type = #{authenticationType,jdbcType=SMALLINT},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="theCompany != null" >
        the_company = #{theCompany,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobTitle != null" >
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="isProjectEditing != null" >
        is_project_editing = #{isProjectEditing,jdbcType=SMALLINT},
      </if>
      <if test="isProjectEditingAndEditing != null" >
        is_project_editing_and_editing = #{isProjectEditingAndEditing,jdbcType=SMALLINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parkdt.tml.domain.ProjectImporterInfo" >
    update t_project_importer_info
    set member_id = #{memberId,jdbcType=BIGINT},
      authentication_type = #{authenticationType,jdbcType=SMALLINT},
      company_id = #{companyId,jdbcType=BIGINT},
      the_company = #{theCompany,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=SMALLINT},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      job_title = #{jobTitle,jdbcType=VARCHAR},
      is_project_editing = #{isProjectEditing,jdbcType=SMALLINT},
      is_project_editing_and_editing = #{isProjectEditingAndEditing,jdbcType=SMALLINT},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getImportCompanyIdByMemberId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT * FROM t_project_importer_info WHERE member_id=#{memberId}
  </select>
  <select id="getImportInfoByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT * FROM t_project_importer_info WHERE company_id=#{memberId}
  </select>
</mapper>