<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parkdt.tml.mapper.SysGoodTypeMapper" >
  <resultMap id="BaseResultMap" type="com.parkdt.tml.domain.SysGoodType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="is_enabled" property="isEnabled" jdbcType="SMALLINT" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="field_id" property="fieldId" jdbcType="BIGINT" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="major_classification_id" property="majorClassificationId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_name, is_enabled, sorting, is_del, create_time, update_time, update_id, 
    update_name, field_id, image, major_classification_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_good_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_good_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.parkdt.tml.domain.SysGoodType" >
    insert into t_sys_good_type (id, type_name, is_enabled, 
      sorting, is_del, create_time, 
      update_time, update_id, update_name, 
      field_id, image, major_classification_id
      )
    values (#{id,jdbcType=BIGINT}, #{typeName,jdbcType=VARCHAR}, #{isEnabled,jdbcType=SMALLINT}, 
      #{sorting,jdbcType=INTEGER}, #{isDel,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, 
      #{fieldId,jdbcType=BIGINT}, #{image,jdbcType=VARCHAR}, #{majorClassificationId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.parkdt.tml.domain.SysGoodType" >
    insert into t_sys_good_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateName != null" >
        update_name,
      </if>
      <if test="fieldId != null" >
        field_id,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="majorClassificationId != null" >
        major_classification_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=SMALLINT},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="fieldId != null" >
        #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="majorClassificationId != null" >
        #{majorClassificationId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.parkdt.tml.domain.SysGoodType" >
    update t_sys_good_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=SMALLINT},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateName != null" >
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="fieldId != null" >
        field_id = #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="majorClassificationId != null" >
        major_classification_id = #{majorClassificationId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parkdt.tml.domain.SysGoodType" >
    update t_sys_good_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      is_enabled = #{isEnabled,jdbcType=SMALLINT},
      sorting = #{sorting,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      field_id = #{fieldId,jdbcType=BIGINT},
      image = #{image,jdbcType=VARCHAR},
      major_classification_id = #{majorClassificationId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>